# Gradle
.gradle/

# Build output
build/

# VS Code
.vscode/

# IntelliJ IDEA
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Variables
*.tfvars
*.tfvars.json

# Crash logs
crash.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# AWS credentials
.aws/

# Environment
.env
